<h1> Welcome Muggles! Hope you're ready for some jokes ;) </h1>

<ul>
    <li><%= @comedian1 %></li>
    <li><%= @comedian2 %></li>
</ul>

<%= link_to 'Click to see jokes', '/questions' %><br/>
<%= link_to 'Go straight to the answers, cheater', '/answers' %> <br/>
<%= link_to 'Totally random but also Top 10 SD places to visit!', '/places' %><br/>
<%= link_to 'Also totally random but also Top 10 Favorite TV Shows!', '/tv_shows' %>