<h1> Top 10 San Diego Places to Visit </h1>

<ol>
    <li><a href= "https://zoo.sandiegozoo.org/"><%= @place1 %></a></li>
    <li><%= @place2 %></li>
    <li><%= @place3 %></li>
    <li><%= @place4 %></li>
    <li><%= @place5 %></li>
    <li><%= @place6 %></li>
    <li><%= @place7 %></li>
    <li><%= @place8 %></li>
    <li><%= @place9 %></li>
    <li><%= @place10 %></li>
</ol>

<%= link_to 'Home', '/' %>