<h1>Top 10 Favorite Shows</h1>

<ol>
    <li><%= @show1 %></li>
    <li><%= @show2 %></li>
    <li><%= @show3 %></li>
    <li><%= @show4 %></li>
    <li><%= @show5 %></li>
    <li><%= @show6 %></li>
    <li><%= @show7 %></li>
    <li><%= @show8 %></li>
    <li><%= @show9 %></li>
    <li><%= @show10 %></li>
</ol>

<%= link_to 'Home', '/' %>